
h1,h3{
    color: red;
    background-color: green;

}

.xyx{
background-color : yellow !important;  
font-size: 20px;
}
.abc{
color: red;
background-color: pink;

}
#sakshai{
background-color : pink;  
}
